@using RssReader.Web.Infrastructure.Extensions

@model RssReader.Web.Models.RegisterModel

@using (Html.BeginForm("JsonRegister", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "registerForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Registration Form</legend>

        @Html.BeginControlGroupFor(m => m.UserName)
        <div class="controls">
            @Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus", id = "registerName", placeholder="User Name" })
            @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "help-inline" })
        </div>
        @Html.EndControlGroup()

        @Html.BeginControlGroupFor(m => m.Password)
        <div class="controls">
            @Html.TextBoxFor(m => m.Password, new { placeholder="Password" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
        </div>
        @Html.EndControlGroup()          
        
       @Html.BeginControlGroupFor(m => m.ConfirmPassword)
        <div class="controls">
            @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
        </div>
        @Html.EndControlGroup()                     

        <div class ="btn-center">
            <input type="submit" value="Sign up" class="btn btn-primary btn-large"/>
        </div>

         @Html.ValidationSummary(true, null, new { @class = "alert alert-error bootstrap-summary" } )

    </fieldset>
}