@model RssReader.Web.Models.LoginModel

@{
    ViewBag.Title = "Welcome to RSS Reader SPA";
}

<style>
    body
    {
            background-color: #F5F5F5;
    }
</style>

@if (@User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()
    }
    
    <div class="navbar navbar-inverse navbar-fixed-top">
	    <div class="navbar-inner">
            @*<b style="color:red">DEBUG: need to refactor into partial for selectable menu</b><br />*@
		    <div class="container">
                <a class="brand" href="/">RSS Reader SPA</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="/suscriptions">Item 1</a>
                        </li>
                        <li>
                            <a href="news/cine">Item 2</a>
                        </li>
                    </ul>

                    <div class="pull-right">
                        <ul class="nav">
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, @User.Identity.Name <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/suscriptions">Suscriptions</a></li>
                                <li>@Html.ActionLink("Manage account", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
                                <li class="divider"></li>
                                <li>    
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>                                          
                                </li>
                              
                            </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--
    <h3> hola estoy autenticado </h3>
    -->
    
    <div ng-view class="main-panel"></div>
}
else
{
    <header>
        <h2>@ViewBag.Title</h2>
    </header>
    
    <div class="loginpage" id="loginPanel">

        <section id="localLoginPanel">
            <h2>Log in</h2>
            @Html.Partial("_Login")
        </section>
            
        <section id="socialLoginPanel">
            <h2>Log in using another service</h2>
            @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>

        <p>First time here? <a id="showRegister">Sign up</a></p>
    </div>
        
    <div class="loginpage" id="registerPanel">
        <h2>Sign up</h2>
        @Html.Partial("_Register")
        <p>Already signed up? <a id="showLogin">Log in</a></p>
    </div>
}

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @* add business jss here*@
        
        @Scripts.Render("~/bundles/angular")

        <script src="http://ivaynberg.github.com/select2/select2-3.2/select2.js"></script>

        @Scripts.Render("~/bundles/app")
    }
}