@model RssReader.Web.Models.LoginModel
@{
    ViewBag.Title = "Welcome to RSS Reader SPA";
}

@if (@User.Identity.IsAuthenticated)
{
    <p class="error" data-bind="text: error"></p>
    
    <h3> hola estoy autenticado </h3>
}
else
{
    <style>
        body
        {
             background-color: #F5F5F5;
        }
    </style>
    
    <header>
        <h2>@ViewBag.Title</h2>
    </header>
    
    <div class="loginpage" id="loginPanel">

        <section id="localLoginPanel">
            <h2>Log in</h2>
            @Html.Partial("_Login")
        </section>
            
        <section id="socialLoginPanel">
            <h2>Log in using another service</h2>
            @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>

        <p>First time here? <a id="showRegister">Sign up</a></p>
    </div>
        
    <div class="loginpage" id="registerPanel">
        <h2>Sign up</h2>
        @Html.Partial("_Register")
        <p>Already signed up? <a id="showLogin">Log in</a></p>
    </div>
}

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @* add business jss here*@
        
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/todo")
    }
}